html, body{
  text-align: center;
  height: 100%;
  overflow-x: hidden;
}
/* --------------------------- Navbar Css --------------------*/
#navbar p{
  display: inline-block;
  margin: 10px;
  font-size: 1.25em;
}

#navbar{
  top:0;
  position: sticky;
}


.first-nav{
  background-color: #CAE277;
}

.second-nav{
  background-color: black;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center; 
  top:0;
  position: sticky;
}

#navbar .column{
  float: left;
  height: 100%;
}


#navbar .left1{
 width: 50%;
}

#navbar .right1{
  width: 50%;
}

#navbar nav{
  display: inline-block;
}

#navbar nav a{
  text-decoration: none;
  color: white;
  padding: 0px 20px;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}

#navbar nav a:hover{
  color: #CAE277;
}
/* --------------------------- Header CSS --------------------*/
.header-background{
  background-image: url("images/header.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 65vh;
}

#header h1{
  /* font-family: "Bebas Neue", serif; */
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 900;
  color:whitesmoke;
}

#header button{
  border: 1px solid white;
  padding: 10px 20px;
  font-size: 1.25em;
  background-color: #F7A440;
  color: white;
  font-weight: bold;
  border-radius: 80px;
  transition: all .2s ease-in-out;
}

#header button:hover{
  transform: scale(1.1);
}

#header p{
  font-family: "Merriweather", serif;
  font-size: 1.5em;
}
/* --------------------------- Service Css -------------------*/
#service{
 background-color: #ffff;
 position: sticky;
}
#service h1{
  font-family: "Bebas Neue";
  font-size: 3em;
  transition: all .2s ease-in-out;
}

#service hr{
  width: 10%;
  height: 2px;
  background: black;
  border: none;
}

#service .service-header p{
  line-height: 2em;
  padding: 10px;
  color: #6c6c6c;
  font-size: 1.3em;
}

#service .service-cards{
  display: flex;
  justify-content: center;
  align-items: center;
}

#service .card{
  max-width: 30vw;
  margin: 0px 40px 65px 0px;
  background-color: #ffff;
  transition: all .2s ease-in-out;
  box-shadow: 2px 2px 50px silver;
}

#service .card:hover{
  box-shadow: 8px 8px 10px silver;
  transform: scale(1.1);
}

#service .card  p{
  line-height: 2em;
  padding: 10px;
  color: #6c6c6c;
  font-size: 1.1em;
  width: 85%;
  margin: auto;
}

#service button{
  font-weight: bold;
  padding: 10px 20px;
  margin: 20px 0px 40px 0px;
  font-size: 1.1em;
  color: black;
  background-color: white;
  border: 1px solid black;
  transition: all .2s ease-in-out;
}

#service button:hover{
  transform: scale(1.1);
  color: white;
  background-color: #F7A440;
  border: none;
  
}
/* --------------------------- Contact Css ------------------- */
.contact-background{
  background-image: url("images/landscape.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form-background{
  background-color: rgba(0,0,0,0.60);
  
  width: 65%;
  height: 75%;
}
.row{
  height: 100%;
  width: 100%;
}

.column{
  float: left;
  height: 100%;
}

.left{
  width: 65%;
}

.right{
  width: 35%;
  background-color: #CAE277;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}
#contact-section h1 {
  color: #CAE277;
  font-size: 3em;
}

#contact-section h2{
  display:flex;
  justify-content: flex-start;
  padding: 0px 30px;
  font-size: 3em;
}

#contact-section  p{
  line-height: 3em;
  font-size: 1.4em;
  font-weight: bolder;
  display: flex;
  justify-content: flex-start;
  padding:  10px 25px;
  }

  #contact-section input[type="text"],input[type="email"], textarea{
     background-color: rgba(0,0,0, .0);
     border-left-color: #CAE277 ;
     border-right: none;
     border-top: none;
     border-bottom: none;
     padding: 12px;
     color: white;
     width: 70%;
     margin: 10px 0px;
  }


  #contact-section input[type="submit"] {
    background-color: #CAE277;
    color: black;
    padding: 5px;
    border: 1px solid white;
    font-size: 1.4em;
    border-radius: 10%;

  }
/*--------------------------- Footer CSS --------------------- */
.footer{
  width: 100%;
  background-color: #4A503D;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.2em 0em;
}

#footer .column{
  float: left;
  width: 30%
}

#footer p {
  line-height: 1.8em;
  color: white;
}

#footer h2{
  color: #CAE277;
}


/* ------------- ServiceX CSS ----------- */ 
#servicex .servicex-header{
}

#servicex p{
  line-height: 2em;
  margin: 0px 30px 0px 30px;
  padding-bottom: 60px;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  font-weight: 200 !important;
  /* padding: 0px 10px; */
}

#servicex  span{
  font-size: 1.3em;
  font-weight: bold;
  color: #CAE277;
}

#servicex .hr1{
  width: 15%;
  margin-bottom: 20px;
}

#servicex hr{

}